<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Clipboard</title>
</head>
<body>
    <h1>Online clipboard</h1>
    <button onclick="goToClip()">Get</button>
    <input type="text" id="keyId" placeholder="Enter Key">
    <script>
        function goToClip(){
            window.location='/'+ document.getElementById('keyId').value;
        }
    </script>

    <form action="/" method="post">
        <button type="submit">Post</button>
        <input type="text" name="key" value="<%= key %>">
        <textarea id="tarea" name="content" rows="10" placeholder="<%= placeholder %>"></textarea>
    </form>
    <script>
        document.getElementById('tarea').defaultValue="<%= content %>";
    </script>
</body>
</html>